.heading-1 {
  display: inline-block;
  line-height: 1;
  font-size: 4.5rem;
  color: #f5e2cd;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif; }
  .heading-1__light {
    color: #f5e2cd; }
  .heading-1__dark {
    color: #111; }
  .heading-1__primary-color {
    color: #c69963; }

.heading-2 {
  display: inline-block;
  font-size: 3.5rem;
  font-style: italic;
  color: #222;
  line-height: 1.1;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif; }
  .heading-2__light {
    color: #f5e2cd; }
  .heading-2__dark {
    color: #111; }
  .heading-2__primary-color {
    color: #c69963; }

.heading-3 {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #222;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase; }
  .heading-3__light {
    color: #f5e2cd; }
  .heading-3__dark {
    color: #111; }
  .heading-3__primary-color {
    color: #c69963; }

.heading-4 {
  display: inline-block;
  font-size: 1.7rem;
  color: #222;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase; }
  .heading-4__light {
    color: #f5e2cd; }
  .heading-4__dark {
    color: #111; }
  .heading-4__primary-color {
    color: #c69963; }

.mb-s {
  margin-bottom: 2rem; }

.mb-m {
  margin-bottom: 3rem; }

.mb-l {
  margin-bottom: 4rem; }

.mb-xl {
  margin-bottom: 8rem; }

.btn {
  background: linear-gradient(to right, #c69963, #b28451);
  border: none;
  text-decoration: none;
  box-shadow: 0 0.5rem 1rem rgba(34, 34, 34, 0.3);
  font-size: 1.3rem;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.4rem 1.8rem;
  cursor: pointer;
  transition: all 0.2s; }
  .btn a {
    text-decoration: none;
    color: inherit;
    font-family: inherit; }
  .btn:hover {
    background: linear-gradient(to left, #c69963, #b28451);
    transform: translateY(3px); }
  .btn:active {
    transform: translateY(1px); }

.header__btn {
  align-self: flex-start;
  justify-self: flex-start; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 56.5%; } }
  @media screen and (max-width: 700px) {
    html {
      font-size: 50%; } }
  @media screen and (min-width: 1800px) {
    html {
      font-size: 70.2%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #5c544c;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 88vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 5rem [sidebar-end full-start] minmax(4rem, 1fr) [mid-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [mid-end] minmax(4rem, 1fr) [full-end]; }
  @media screen and (max-width: 1200px) {
    .container {
      grid-template-rows: 5.5rem 88vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(4rem, 1fr) [mid-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [mid-end] minmax(4rem, 1fr) [full-end]; } }
  @media screen and (max-width: 900px) {
    .container {
      grid-template-rows: 5.5rem minmax(max-content, 70vh) max-content min-content max-content max-content repeat(3, min-content);
      grid-template-columns: [full-start] minmax(4rem, 1fr) [mid-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [mid-end] minmax(4rem, 1fr) [full-end]; } }
  .container .sidebar {
    background-color: #c69963;
    grid-row: 1 /-1;
    grid-column: sidebar-start /sidebar-end;
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 1200px) {
      .container .sidebar {
        grid-column: full-start / full-end;
        grid-row: 1 / 2;
        justify-content: start;
        padding-left: 2rem; } }
    .container .sidebar .nav-btn {
      border: none;
      border-radius: 0;
      margin-top: 2.5rem;
      background-color: #ffffff;
      height: 2px;
      width: 3.5rem; }
      .container .sidebar .nav-btn::before {
        content: '';
        background-color: #ffffff;
        height: 2px;
        width: 3.5rem;
        display: block;
        transform: translateY(-1rem); }
      .container .sidebar .nav-btn::after {
        content: '';
        background-color: #ffffff;
        height: 2px;
        width: 3.5rem;
        display: block;
        transform: translateY(0.8rem); }
  .container .header {
    grid-column: full-start /col-end 6;
    background: linear-gradient(rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.9)), url(../img/header_bg.jpg) no-repeat bottom right/cover;
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, max-content) 1fr;
    grid-template-columns: max-content;
    grid-row-gap: 1.5rem;
    padding: 1.5rem 2rem 8rem 2rem;
    justify-content: center; }
    @media screen and (max-width: 900px) {
      .container .header {
        grid-column: full-start / full-end;
        grid-row: 2 / 3;
        grid-template-columns: auto; } }
    .container .header__logo {
      height: 5rem;
      justify-self: center; }
    .container .header__seenon-text {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      grid-column-gap: 0.5rem; }
      .container .header__seenon-text p {
        font-size: 1.4rem;
        color: #ffffff;
        font-weight: 500;
        filter: brightness(70%); }
      .container .header__seenon-text hr {
        height: 1px !important;
        border: rgba(255, 255, 255, 0.3) 1px solid; }
    .container .header__seenon-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 2.5rem;
      justify-content: space-around; }
      .container .header__seenon-logos img {
        height: 2.5rem;
        filter: brightness(75%); }
  .container .realtors-section {
    background-color: #101d2c;
    grid-column: col-start 7 /full-end;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 900px) {
      .container .realtors-section {
        grid-column: full-start / full-end;
        grid-row: 3 / 4; } }
    .container .realtors-section .realtors {
      margin-top: 3rem;
      width: 100%;
      display: grid;
      grid-row-gap: 2rem;
      grid-template-rows: repeat(3, max-content); }
      @media screen and (max-width: 900px) {
        .container .realtors-section .realtors {
          grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
          grid-column-gap: 2rem;
          grid-template-rows: max-content; } }
      .container .realtors-section .realtors .realtor {
        display: flex;
        justify-content: center;
        align-items: center; }
        .container .realtors-section .realtors .realtor__img {
          margin-right: 1.5rem;
          width: 7rem;
          border-radius: 50%; }
        .container .realtors-section .realtors .realtor__name {
          text-transform: uppercase;
          font-size: 1.4rem;
          color: #ffffff; }
        .container .realtors-section .realtors .realtor__house-sold {
          font-size: 1.1rem;
          color: #ffffff;
          filter: brightness(50%); }
  .container .features {
    padding: 16rem 0;
    grid-column: mid-start /mid-end;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    align-items: flex-start;
    justify-content: center;
    line-height: 1.4; }
    .container .features .feature {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-column-gap: 1rem; }
      .container .features .feature__icon {
        fill: #c69963;
        width: 3rem;
        height: 3rem;
        transform: translateY(-0.3rem); }
      .container .features .feature__text {
        grid-column: 2/-1;
        font-size: 1.3rem; }
  .container .story__pictures {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    grid-column: full-start /col-end 4;
    background: linear-gradient(to right, rgba(198, 153, 99, 0.5), rgba(178, 132, 81, 0.5)), url(../img/Story-bg.jpg) no-repeat center center/cover; }
    @media screen and (max-width: 900px) {
      .container .story__pictures {
        grid-column: full-start /full-end; } }
  .container .story__img {
    width: 100%;
    display: block;
    grid-row: 2 / span 4;
    grid-column: 2 /6;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3); }
    @media screen and (max-width: 900px) {
      .container .story__img {
        transform: scale(0.6); } }
  .container .story__img-2 {
    width: 115%;
    display: block;
    grid-row: 4 / 6;
    grid-column: 4 /7;
    box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.3);
    z-index: 1; }
    @media screen and (max-width: 900px) {
      .container .story__img-2 {
        width: 100%;
        transform: scale(0.7); } }
  .container .story__content {
    background-color: #f1f1f1;
    grid-column: col-start 5 /full-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 6rem 8vw; }
    @media screen and (max-width: 900px) {
      .container .story__content {
        grid-column: full-start /full-end;
        justify-content: center;
        align-items: center;
        text-align: center; } }
  .container .story__text {
    font-size: 1.4rem;
    font-style: italic; }
  .container .homes {
    grid-column: mid-start /mid-end;
    display: grid;
    padding: 16rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
    grid-gap: 3rem; }
    .container .homes .home {
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
      position: relative;
      background-color: #f1f1f1;
      grid-template-columns: repeat(8, 1fr);
      grid-row-gap: 2rem;
      display: grid; }
      .container .homes .home p {
        display: inline;
        margin-left: 0.5rem; }
      .container .homes .home__img {
        display: block;
        width: 100%;
        grid-column: 1 / -1; }
      .container .homes .home__icon {
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        fill: #b28451;
        display: inline; }
      .container .homes .home__heart {
        position: absolute;
        top: 0.7em;
        right: 0.5rem;
        fill: #c69963;
        cursor: pointer; }
      .container .homes .home__name {
        grid-column: 2 /8;
        font-size: 1.8rem;
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: #101d2c;
        padding: 0.3rem;
        color: #ffffff;
        border-radius: 3px;
        transform: translateY(-100%); }
      .container .homes .home__location {
        font-size: 1.3rem;
        grid-column: 2 /5;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transform: translateY(-50%); }
      .container .homes .home__rooms {
        font-size: 1.3rem;
        grid-column: 5/ 8;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transform: translateY(-50%); }
      .container .homes .home__area {
        font-size: 1.3rem;
        grid-column: 2 /5;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transform: translateY(-50%); }
      .container .homes .home__price {
        font-size: 1.3rem;
        grid-column: 5/ 8;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transform: translateY(-50%); }
      .container .homes .home .btn {
        grid-column: 1 / -1; }
  .container .gallery {
    background-color: #f1f1f1;
    grid-column: full-start /full-end;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    display: grid;
    grid-gap: 1.2vw;
    padding: 10rem 1.5rem; }
    .container .gallery__item--1 {
      grid-row: 1 / 3;
      grid-column: 1 /3; }
    .container .gallery__item--2 {
      grid-row: 1 / 5;
      grid-column: 3 /5; }
    .container .gallery__item--3 {
      grid-row: 4 / 8;
      grid-column: 7 /-1; }
    .container .gallery__item--4 {
      grid-row: 1 / 4;
      grid-column: 5 /8; }
    .container .gallery__item--5 {
      grid-row: 5 / 8;
      grid-column: 1 /2; }
    .container .gallery__item--6 {
      grid-row: 5 / 8;
      grid-column: 3 / 4; }
    .container .gallery__item--7 {
      grid-row: 5 / 7;
      grid-column: 4 /6; }
    .container .gallery__item--9 {
      grid-row: 1 / 4;
      grid-column: 8 / 9; }
    .container .gallery__item--10 {
      grid-row: 4 / 8;
      grid-column: 2 / 3; }
    .container .gallery__item--13 {
      grid-row: 4 / 5;
      grid-column: 5 /7; }
    .container .gallery__item--14 {
      grid-row: 5 / 6;
      grid-column: 6 /7; }
    .container .gallery__item--12 {
      grid-row: 3 / 5;
      grid-column: 1 /2; }
    .container .gallery__item--11 {
      grid-row: 6 / 8;
      grid-column: 6 / 7; }
    .container .gallery__item--15 {
      grid-row: 7 / 8;
      grid-column: 4 / 6; }
    .container .gallery__img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      display: block; }
  .container .footer {
    background-color: #222;
    grid-column: full-start /full-end; }
    .container .footer__list {
      padding: 8rem 10rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
      grid-gap: 2rem;
      list-style: none;
      justify-content: center;
      align-items: center; }
    .container .footer__item {
      font-size: 1.3rem; }
    .container .footer__link {
      color: #f5e2cd;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 1rem 2rem;
      background-color: #333;
      transition: all 0.3s; }
      .container .footer__link:hover {
        transform: translateY(4px);
        background-color: #444; }
    .container .footer__rights {
      text-align: center;
      font-size: 1.3rem;
      width: 80%;
      margin: auto;
      color: #faddbd;
      padding: 1rem;
      border-top: 1px solid #333; }
